body 
{
}
table 
{
    border: solid 1px;
    border-collapse: collapse;
    margin: auto;
    font-weight: bold;
    width: 1500px;
    height: 800px;
}
thead {
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(7px) opacity(95%);
}

td, tr, th {
    border: solid 1px;
    padding: 1px;
    padding-left: 3px;
    font-size: 14px;
}

.yellow {
    background-color: yellow;
    filter: brightness(0.90);
}

.green {
    background-color: forestgreen;
}

.red {
    background-color: palevioletred;
    margin: 40px;
}

.blue {
    background-color: dodgerblue;
    filter: brightness(0.8);
}

th {
    background-color: navajowhite;
}

.tdbackground {
    background-color: navajowhite;
}
.size 
{
    width: 50px;
    font-size: 24px;
}
.digit 
{
    padding-left: 50px;
}